<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>Input Autocomplete Suggestions Demo</title>
    <link rel="shortcut icon" href="http://designshack.net/favicon.ico">
    <link rel="icon" href="http://designshack.net/favicon.ico">
    <link rel="stylesheet" type="text/css" media="all" href="js/style.css">
    <style>
      html, body, #map-canvas {
        margin: 0px;
        padding: 0px;
          height : 100%;
      }
      #panel {
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>

    <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.autocomplete.min.js"></script>
    <script type="text/javascript" src="js/currency-autocomplete.js"></script>
    <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/ui-darkness/jquery-ui.min.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>

</head>

<body>

<div id="w">
    <div id="content">
        <div id="searchfield">
            <form><input type="text" name="queryString" class="biginput" id="autocomplete"></form>
        </div>
        <!-- @end #searchfield -->

        <div id="outputbox">
            <p id="outputcontent">Please enter your search criteria here....</p>
        </div>
    </div>
    <!-- @end #content -->
</div>
<!-- @end #w -->
<div id="map-canvas"></div>
</body>
</html>